<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="iisNode" path="server.js" verb="*" modules="iisNode" />
      </handlers>
      
      <rewrite>
        <rules>
            <rule name="iisNode"> 
                <match url=".*" />
                <conditions>
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                </conditions>
                <action type="Rewrite" url="server.js" />
            </rule>
        </rules>
     </rewrite>
    </system.webServer>
  </location>
</configuration>